body {
	font-family: 'Roboto';
    color: #FFB6C1 ;
    background-color: #FFF0F5;
    background-image: url(images/clouds.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
	margin-bottom: 20px;
	margin-top: 100px;
}
.temp {
	cursor: pointer;
	color: #FF7F50;
}
.temp:hover {
	color: #FFDAB9;
}
h1 {
	font-size: 5em;
}
header p {
	font-size: 3em;
}
.weather {
	color: #FFB6C1;
	font-size: 3em;
	margin-bottom: 10px;
}
a {
	color: #FF7F50;
}
a:hover {
	color: #FFDAB9;
}
.weather p {
	display: inline;
}
#weatherIcon {
margin: 0 auto;
}
div p {
	color: #FFB6C1;
}
.description {
	font-size: 1.5em;
	margin-top: 40px;
	margin-bottom: 70px;
}
.description p {
	display: inline;
}
#location {
	border-style: none;
    padding: 18px 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(255, 245, 238, 0.3);

}
#desc {
	border-style: none;
    padding: 18px 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(255, 245, 238, 0.3);
}
